[
  {kernel, [
    {logger_level, debug},
    {logger, [
      {handler, 
        default, logger_std_h,
        #{
          config => #{ 
            type => standard_io
          },
          filters => [
            {no_progress, {fun logger_filters:progress/2, stop}}
          ]  
        }
      }
    ]}
  ]},

  {fileserv, []}
].